<style>
    .coordinates {
        background: rgb(255, 255, 255);
        color: #4c8dff;
        position: absolute;
        top: 40px;
        right: 94px;
        padding: 10px 20px;
        margin: 0;
        font-size: 12px;
        line-height: 18px;
        border-radius: 5px;
        display: none;
        box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.03);
    }

    .calculation-box {
        display: none;
        height: 64px;
        width: 212px;
        position: absolute;
        bottom: 70px;
        right: 12px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: 11px;
        padding: 5px 10px;
        text-align: center;
    }

    p {
        font-family: 'Open Sans';
        margin: 0;
        font-size: 13px;
    }
</style>
<div id="map">
    <!-- <span class="switchStyle fa fa-adjust" ng-click="self.showTheme = !self.showTheme"></span>
    <div ng-show="self.showTheme" class="switchStyle-content">
        <div ng-class="{'active': self.activeTheme === 'theme1'}" class="theme-map theme1" ng-click="self.changeStyleMap1(); self.activeTheme = 'theme1'"></div>
        <div ng-class="{'active': self.activeTheme === 'theme2'}" class="theme-map theme2" ng-click="self.changeStyleMap2(); self.activeTheme = 'theme2'"></div>
        <div ng-class="{'active': self.activeTheme === 'theme3'}" class="theme-map theme3" ng-click="self.changeStyleMap3(); self.activeTheme = 'theme3'"></div>
        <div ng-class="{'active': self.activeTheme === 'theme4'}" class="theme-map theme4" ng-click="self.changeStyleMap4(); self.activeTheme = 'theme4'"></div>
    </div> -->
    <!-- <span ng-class="{'allPopup': self.allPopup}" class="switchStyle fa fa-comment" ng-click="self.allPopup = !self.allPopup" style="top: 261px; padding: 7px; color: #ccc;"></span> -->
</div>
<div id='coordinates' class='coordinates'></div>
<div class='calculation-box'>
    <div id='calculated-area'></div>
</div>