/* #map{
	height: 100%;
	background: #aad3df;;
} */

#map {
	position: absolute;
	top: 44px;
	bottom: 0;
	width: 100%;
}

.mapboxgl-ctrl-bottom-left {
	bottom: 0;
	left: 0;
	display: none;
}

.mapboxgl-ctrl-bottom-right {
	right: 0;
	bottom: 0;
	display: none;
}
.mapboxgl-popup-content {
	position: relative;
    background: #fff;
    border-radius: 3px;
    font-size: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 2px 5px 2px 5px;
    pointer-events: auto;
}
.mapboxgl-popup-close-button {
    position: absolute;
    left: 6px;
    top: 8px;
    border: 0;
    border-radius: 0 3px 0 0;
    cursor: pointer;
    background-color: transparent;
}
.switchStyle{
	right: 10px;
    z-index: 1;
    padding: 8px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #fff;
    position: absolute;
    font-size: 16px;
    color: #0074c5;
    top: 150px;
}
