${require('./templale-dialog.html')}
${require('./login-dialog.html')}
${require('./notification.html')}
<div class="i2g-toolbar">
    <div class="i2g-tab">
        <div class="tab-item always-on">
            <div class="tab-name" ng-click="self.showFiles = !self.showFiles">Files
                <div class="caret-drop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12.828" height="7.828" viewBox="0 0 12.828 7.828">
                        <path id="Path_15" data-name="Path 15" d="M1014.566,219.5l5,5,5-5"
                            transform="translate(-1013.152 -218.086)" fill="none" stroke-linecap="round"
                            stroke-width="2" />
                    </svg>
                </div>
            </div>
            <div class="i2g-drop-menu-tab" ng-show="self.showFiles">
                <div class="item-drop" ng-click="self.showDialog()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="24.756" viewBox="0 0 32 24.756">
                        <g id="Component_2_94" data-name="Component 2 – 94" transform="translate(1 1)">
                          <path id="Path_2" data-name="Path 2" d="M-554.94,390.155v22.756h30V395.425h-13.073l-2.6-5.269Z" transform="translate(554.94 -390.155)" fill="none" stroke="#0d0b24" stroke-linejoin="round" stroke-width="2"/>
                        </g>
                      </svg>
                    <div>Open Project</div>
                </div>
                <div class="item-drop" ng-click="self.showLogin = !self.showLogin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <g id="Group_145" data-name="Group 145" transform="translate(1526 -1563)">
                          <g id="Ellipse_15" data-name="Ellipse 15" transform="translate(-1526 1563)" fill="transparent" stroke="#0d0b24" stroke-width="2">
                            <circle cx="15" cy="15" r="15" stroke="none"/>
                            <circle cx="15" cy="15" r="14" fill="none"/>
                          </g>
                          <path id="Path_27" data-name="Path 27" d="M-1512.833,1579.5h11.389" transform="translate(-4.036 -1.5)" fill="none" stroke="#0d0b24" stroke-linecap="round" stroke-width="2"/>
                          <path id="Path_28" data-name="Path 28" d="M0,0H11.389" transform="translate(-1511.185 1572.306) rotate(90)" fill="none" stroke="#0d0b24" stroke-linecap="round" stroke-width="2"/>
                        </g>
                      </svg>
                    <div>New Project</div>
                </div>
                <div class="item-drop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32.007" height="25.211" viewBox="0 0 32.007 25.211">
                        <g id="Group_146" data-name="Group 146" transform="translate(1524.544 -1645.806)">
                          <path id="Path_29" data-name="Path 29" d="M0,0H23.211" transform="translate(-1505.934 1646.806) rotate(90)" fill="none" stroke="#0d0b24" stroke-linecap="round" stroke-width="2"/>
                          <path id="Path_34" data-name="Path 34" d="M-1502.541,1653.331h6.2a1.7,1.7,0,0,1,1.839,1.839v7.278a1.685,1.685,0,0,1-1.839,1.839h-6.2" transform="translate(0.964 -1)" fill="none" stroke="#0d0b24" stroke-linecap="round" stroke-width="2"/>
                          <path id="Path_35" data-name="Path 35" d="M0,0H11.312A1.7,1.7,0,0,1,13.151,1.84V9.119a1.685,1.685,0,0,1-1.839,1.839H0" transform="translate(-1510.388 1663.287) rotate(180)" fill="none" stroke="#0d0b24" stroke-linecap="round" stroke-width="2"/>
                        </g>
                      </svg>
                    <div>Rename Project</div>
                </div>
                <div class="space-height-10px"></div>
                <div class="border-bottom-2px"></div>
                <div class="space-height-10px"></div>
                <div class="item-drop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <g id="Group_150" data-name="Group 150" transform="translate(1524 -1766)">
                          <g id="Rectangle_74" data-name="Rectangle 74" transform="translate(-1524 1766)" fill="transparent" stroke="#0d0b24" stroke-width="2">
                            <rect width="30" height="30" rx="7" stroke="none"/>
                            <rect x="1" y="1" width="28" height="28" rx="6" fill="none"/>
                          </g>
                          <g id="Group_143" data-name="Group 143" transform="translate(-1.5 -1.175)">
                            <path id="Path_30" data-name="Path 30" d="M-1507.5,1774.175v12.785" transform="translate(0 1)" fill="none" stroke="#0d0b24" stroke-linecap="round" stroke-width="2"/>
                            <path id="Path_31" data-name="Path 31" d="M-1512.5,1782.847l5.016,5.016,5.016-5.016" transform="translate(0.005 1)" fill="none" stroke="#0d0b24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                          </g>
                        </g>
                      </svg>
                    <div>Save</div>
                </div>
                <div class="item-drop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                        <g id="Group_149" data-name="Group 149" transform="translate(1524 -1847)">
                          <g id="Rectangle_75" data-name="Rectangle 75" transform="translate(-1524 1856)" fill="transparent" stroke="#0d0b24" stroke-width="2">
                            <rect width="21" height="21" rx="7" stroke="none"/>
                            <rect x="1" y="1" width="19" height="19" rx="6" fill="none"/>
                          </g>
                          <g id="Group_148" data-name="Group 148" transform="translate(-3.841 2)">
                            <g id="Rectangle_76" data-name="Rectangle 76" transform="translate(-1514.159 1845)" fill="#fff" stroke="#0d0b24" stroke-width="2">
                              <rect width="24" height="24" rx="7" stroke="none"/>
                              <rect x="1" y="1" width="22" height="22" rx="6" fill="none"/>
                            </g>
                            <g id="Group_147" data-name="Group 147" transform="translate(-1506.495 1851.863)">
                              <path id="Path_32" data-name="Path 32" d="M-1507.5,1774.175v8.757" transform="translate(1511.915 -1774.175)" fill="none" stroke="#0d0b24" stroke-linecap="round" stroke-width="2"/>
                              <path id="Path_33" data-name="Path 33" d="M-1512.5,1782.846l4.429,4.429,4.429-4.429" transform="translate(1512.505 -1777.6)" fill="none" stroke="#0d0b24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                            </g>
                          </g>
                        </g>
                      </svg>
                    <div>Save As...</div>
                </div>
                <div class="space-height-10px"></div>
                <div class="border-bottom-2px"></div>
                <div class="space-height-10px"></div>
                <div class="item-drop">
                    <label class="i2g-checkbox" style="width: 100%">
                        <input type="checkbox">
                        <span>Auto save</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="tab-item ">
            <div class="tab-name">Dataset Selection</div>
            <div class="active-tab-status"></div>
        </div>
        <div class="tab-item active">
            <div class="tab-name">Model Selection</div>
            <div class="active-tab-status"></div>
        </div>
        <div class="tab-item ">
            <div class="tab-name">Training and Prediction</div>
            <div class="active-tab-status"></div>
        </div>

    </div>
    <div style="display: flex; align-items: center;">
        <label class="i2g-checkbox">
            <input type="checkbox">
            <span>Show wellname</span>
        </label>
        <div class="space-20px"></div>
        <label class="i2g-checkbox">
            <input type="radio">
            <span>Show wellname</span>
        </label>
        <div class="space-20px"></div>
        <select>
            <option value="">Select...</option>
            <option value="50k">
                &lt;50k
            </option>
            <option value="50-60k">
                50-60k
            </option>
            <option value="60-70k">
                60-70k
            </option>
            <option value="70-80k">
                70-80k
            </option>
            <option value="80-90k">
                80-90k
            </option>
            <option value="90-100k">
                90-100k
            </option>
            <option value="100-110k">
                100-110k
            </option>
            <option value="110-120k">
                110-120k
            </option>
            <option value="120-130k">
                120-130k
            </option>
            <option value="130-140k">
                130-140k
            </option>
            <option value="140-150k">
                140-150k
            </option>
            <option value="150-170k">
                150-170k
            </option>
            <option value="170-190k">
                170-190k
            </option>
            <option value="190-220k">
                190-220k
            </option>
            <option value="220-250k">
                220-250k
            </option>
            <option value=">250k">
                &gt;250k
            </option>
        </select>
        <div class="space-20px"></div>
        <div class="i2g-search-box-with-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                </path>
            </svg>
            <input type="search" placeholder="Search" autocomplete="off" value="">
        </div>
        <div class="space-20px"></div>
        <div class="i2g-button-with-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                </path>
            </svg>
        </div>
    </div>
</div>
<div class="i2g-main-layout">
    <div class="block" style="flex-basis: 400px;">
        <div class="i2g-title-with-btn">
            <span>Input selection</span>
            <div>
                <div class="i2g-button-with-icon" ng-class="{'active': self.showFilter}"
                    ng-click="self.showFilter = !self.showFilter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                        role="img">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                        </path>
                    </svg>
                </div>
                <div class="space-20px"></div>
                <div class="i2g-button-with-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                        role="img">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                        </path>
                    </svg>
                </div>
                <div class="space-20px"></div>

                <div class="i2g-button-with-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                        role="img">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                        </path>
                    </svg>
                </div>
                <div class="space-20px"></div>

                <div class="i2g-button-with-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                        role="img">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="space-height-20px"></div>
        <div class="i2g-toolbox-absolute" ng-show="self.showFilter">
            <div class="i2g-title-with-btn">
                <span>Filter</span>
                <div>
                    <div class="space-20px"></div>
                    <select style="width: 100%;">
                        <option value="">Select...</option>
                        <option>
                            Curve
                        </option>
                        <option>
                            Family
                        </option>
                        <option>
                            Family group Family group Family group Family group
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="i2g-title-item-with-btn">
                <span>Title item</span>
                <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1">
                    <g id="01-copy-10" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="Rectangle" stroke="#9E9EA7" fill="#D8D8D8"
                            transform="translate(8.000000, 8.000000) rotate(-45.000000) translate(-8.000000, -8.000000) "
                            x="3.5" y="7.5" width="9" height="1" rx="0.5" />
                        <rect id="Rectangle" stroke="#9E9EA7" fill="#D8D8D8"
                            transform="translate(8.000000, 8.000000) rotate(-315.000000) translate(-8.000000, -8.000000) "
                            x="3.5" y="7.5" width="9" height="1" rx="0.5" />
                    </g>
                </svg>
            </div>
            <div class="space-height-20px"></div>
            <wi-dropdown-list place-holder="Wi-item-dropdown"
                items='[{data: {label: "[ Wi-item-dropdown ]"}, properties: value}, {data: {label: "[ Curve ]"}, properties: value}, {data: {label: "[ Curve ]"}, properties: value}, {data: {label: "[ Curve ]"}, properties: value}, {data: {label: "[ Curve ]"}, properties: value}, {data: {label: "[ Curve ]"}, properties: value}]'
                hide-delete-button='true' on-item-changed="self.controller.onItemChangeTabTAP"
                current-select="dataset.selectedValues[idxIt]" params="[curveSpecItem, dataset, 'Prediction', idxIt]">
            </wi-dropdown-list>
            <div class="space-height-20px"></div>
            <div class="i2g-swicth-selection">
                <div class="active">x</div>
                <div>10<sup>x</sup></div>
                <div>lg(x)</div>
            </div>
            <div class="space-height-20px"></div>
        </div>
        <div class="i2g-title-with-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                </path>
            </svg>
            <div>File_name.zip</div>
        </div>
        <div class="space-height-10px"></div>
        <div class="i2g-progress-upload">
            <div>
                <div>
                    <div style="width: 50%;"></div>
                </div>
                <div class="space-height-10px"></div>
                <div>
                    <div>200KB</div>
                    <div>50%</div>
                </div>
            </div>
            <div>
                <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1">
                    <g id="01-copy-10" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="Rectangle" stroke="#9E9EA7" fill="#D8D8D8" transform="translate(8.000000, 8.000000) rotate(-45.000000) translate(-8.000000, -8.000000) " x="3.5" y="7.5" width="9" height="1" rx="0.5"></rect>
                        <rect id="Rectangle" stroke="#9E9EA7" fill="#D8D8D8" transform="translate(8.000000, 8.000000) rotate(-315.000000) translate(-8.000000, -8.000000) " x="3.5" y="7.5" width="9" height="1" rx="0.5"></rect>
                    </g>
                </svg>
            </div>
        </div>
        <div class="space-height-20px"></div>

        <div class="i2g-title-with-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                </path>
            </svg>
            <div>File_name.zip</div>
        </div>
        <div class="space-height-10px"></div>
        <div class="i2g-progress-upload">
            <div>
                <div>
                    <div style="width: 70%;"></div>
                </div>
                <div class="space-height-10px"></div>
                <div>
                    <div>200KB</div>
                    <div>70%</div>
                </div>
            </div>
            <div>
                <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1">
                    <g id="01-copy-10" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="Rectangle" stroke="#9E9EA7" fill="#D8D8D8" transform="translate(8.000000, 8.000000) rotate(-45.000000) translate(-8.000000, -8.000000) " x="3.5" y="7.5" width="9" height="1" rx="0.5"></rect>
                        <rect id="Rectangle" stroke="#9E9EA7" fill="#D8D8D8" transform="translate(8.000000, 8.000000) rotate(-315.000000) translate(-8.000000, -8.000000) " x="3.5" y="7.5" width="9" height="1" rx="0.5"></rect>
                    </g>
                </svg>
            </div>
        </div>
        <div class="space-height-20px"></div>
        <div class="i2g-button-primary-color-custom-icon" 
        ng-click="self.showNotiFn('noti', 'Noti Title','Noti message' , 5000)">
            <span>Show noti 1</span>
        </div>
        <div class="space-height-20px"></div>
        <div class="i2g-button-primary-color-custom-icon" 
        ng-click="self.showNotiFn('success', 'success Title','success message' , 5000)">
            <span>Show Success</span>
        </div>
        <div class="space-height-20px"></div>
        <div class="i2g-button-primary-color-custom-icon" 
        ng-click="self.showNotiFn('warning', 'warning Title','warning message' ,5000)">
            <span>Show Warning</span>
        </div>
        <div class="space-height-20px"></div>
        <div class="i2g-button-primary-color-custom-icon" 
        ng-click="self.showNotiFn('error', 'error Title','error message' , 5000)">
            <span>Show Error</span>
        </div>
        <div class="space-height-20px"></div>
        <div class="i2g-button-primary-color-custom-icon" 
        ng-click="self.showNotiFn('upload', 'upload Title','upload message' , 5000)">
            <span>Show Upload</span>
        </div>
        <div class="space-height-20px"></div>
        <div class="i2g-button-primary-color-custom-icon" 
        ng-click="self.showNotiFn('process-noti', 'process-noti Title','process-noti message' , 5000)">
            <span>Show Process</span>
        </div>
        <div class="space-height-20px"></div>
        <div class="i2g-button-primary-color-custom-icon" 
        ng-click="self.showNotiFn('loading-noti', 'System processing','Please wait...', 10000 );">
            <span>Show Loading</span>
        </div>
    </div>
    <div class="space-20px"></div>
    <div class="block-scroll">
        <div class="block">
            ${require('./machinelearning.html')}
        </div>
        <div class="space-height-20px"></div>
        <div class="block" style="display: flex; background: transparent; padding: 0;">
            ${require('./test.html')}
        </div>
        <div class="space-height-20px"></div>
        <div class="block">
            ${require('./basemap.html')}
        </div>
    </div>
    <div class="space-20px"></div>
    <div class="block">
        <div class="i2g-title-with-btn">
            <span>Notification </span>
            <div>
                <div class="i2g-button-with-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                        role="img">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                        </path>
                    </svg>
                </div>
                <div class="space-20px"></div>

                <div class="i2g-button-with-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                        role="img">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                        </path>
                    </svg>
                </div>
                <div class="space-20px"></div>

                <div class="i2g-button-with-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                        role="img">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
        <div class="space-height-20px"></div>
        <div class="i2g-search-box-with-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" role="img">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10.6002 12.0498C9.49758 12.8568 8.13777 13.3333 6.66667 13.3333C2.98477 13.3333 0 10.3486 0 6.66667C0 2.98477 2.98477 0 6.66667 0C10.3486 0 13.3333 2.98477 13.3333 6.66667C13.3333 8.15637 12.8447 9.53194 12.019 10.6419C12.0265 10.6489 12.0338 10.656 12.0411 10.6633L15.2935 13.9157C15.6841 14.3063 15.6841 14.9394 15.2935 15.33C14.903 15.7205 14.2699 15.7205 13.8793 15.33L10.6269 12.0775C10.6178 12.0684 10.6089 12.0592 10.6002 12.0498ZM11.3333 6.66667C11.3333 9.244 9.244 11.3333 6.66667 11.3333C4.08934 11.3333 2 9.244 2 6.66667C2 4.08934 4.08934 2 6.66667 2C9.244 2 11.3333 4.08934 11.3333 6.66667Z">
                </path>
            </svg>
            <input type="search" placeholder="Search" autocomplete="off" value="">
        </div>
        <div class="space-height-20px"></div>
        <div style="height: calc(100% - 120px); overflow: auto;">
            <div ng-repeat="item in self.toastHistory" class="item-icon-title-discription {{item.classTypeToast}}">
                <div>
                </div>
                <div>
                    <div>
                        <div>
                            {{item.title}}
                        </div>
                        <div>
                            {{item.currentTime}}
                        </div>
                    </div>
                    <span>
                        {{item.message}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>