<div ng-if="wiModal.mode === 'new-dashboard'" style="font-size: 1.25em;">
    <editable style="width: 100%; padding: 0.25em 0.15em;" item-label="'Name'" enabled="true" item-value="wiModal.getValue" set-value="wiModal.setValue"></editable>
    <button class="btn btn-primary" ng-click="wiModal.saveDashboardTemplate()">OK</button>
</div>
<div ng-if="wiModal.mode === 'load-dashboard'" style="font-size: 1.25em;">
    <label>Select Template</label>
    <div style="margin: 0.25em 0;">
        <wi-dropdown-list items="wiModal.options" on-item-changed="wiModal.setValue" current-select="wiModal.getValue()"
            ctrl-btn-icon="ti ti-close" on-ctrl-btn-click="wiModal.deleteTemplate"
            on-wi-dropdown-init="wiModal.getDashboardTemplateList" hide-delete-button="false">
        </wi-dropdown-list>
    </div>
    <button class="btn btn-primary" ng-click="wiModal.loadDashboardTemplate()">Load</button>
</div>
<div ng-if="wiModal.mode === 'confirm-modal'" style="font-size: 1.25em;">
    <label>Confirm</label>
    <div class="content" style="margin: 0.25em 0;">{{wiModal.message}}</div>
    <button class="col btn btn-primary" ng-click="wiModal.onOkButtonClicked()">OK</button>
</div>