<div class="display-dialog slim-scroller">
    <div class="header-dialog">
        <div style="display: flex;">
            <div style=" color: #4085ff; font-size: 17px; margin-right: 20px;" class="ti ti-pie-chart"> </div>
            <div class="title-dialog">Dashboard ({{self.dashboardContent.project.alias || self.selectedNode.name}})</div>
        </div>
        <div style="display: flex;">
            <div ng-click="self.loadDashboard()"
                title="Load Template"
                style=" color: #2268e2; font-size: 12px; cursor: pointer; margin-left: 20px;" class=" ti ti-import">
            </div>
            <div ng-click="self.saveDashboard()"
                title="Save Template"
                style=" color: #2268e2; font-size: 12px; cursor: pointer; margin-left: 20px;" class=" ti ti-save">
            </div>
            <div ng-click="self.addDashboard()"
                title="Add Widget"
                style=" color: #2268e2; font-size: 12px; cursor: pointer; margin-left: 20px;" class=" ti ti-plus">
            </div>
            <div ng-click="self.reloadDashboardData()"
                title="Reload Dashboard Data"
                style=" color: #2268e2; font-size: 12px; cursor: pointer; margin-left: 20px;" class=" ti ti-reload">
            </div>
            <div ng-click="self.showDashboard = !self.showDashboard" ng-show="self.showMap"
                title="Close Dashboard"
                style=" color: #2268e2; font-size: 12px; cursor: pointer; margin-left: 20px;" class=" ti ti-close">
            </div>
        </div>
    </div>
    <div ng-show="self.showLoadingDashboard" class="loading">
        <div class="loading-bar">
            <span class="bar-animation"></span>
        </div>
    </div>
    <div class="main-dialog hide-scroller">
        <div>
            <manager-dashboard dashboard-content='self.dashboardContent' dashboard-columns="self.dashboardColumns">
            </manager-dashboard>
        </div>
    </div>
</div>