base-map {
    .searchInput {
        border : none;
        padding: 8px 10px;
        width  : 100%;
    }

    input:focus {
        outline-offset: unset;
    }

    :focus {
        outline: none;
    }

    .full-scale {
        transition: all 0.3s ease-in;
        flex-basis: 300px !important;
    }

    .change-height {
        transition: height 0.1s ease-in;
        height    : 43px !important;

        >div {
            border-bottom: none !important;
        }
    }

    .main {
        font-family   : Roboto, Arial !important;
        transition    : height 0.2s ease-in;
        height        : calc(100% - 80px);
        width         : 300px;
        margin        : 40px;
        display       : flex;
        flex-direction: column;
        background    : #fff;
        position      : fixed;
        z-index       : 1;
        border-radius : 5px;
        box-shadow    : 0 4px 50px -2px rgba(18, 22, 33, 0.05);

        .tab {
            border-bottom  : 1px solid #e4ecfa;
            display        : flex;
            align-items    : center;
            padding-left   : 16px;
            justify-content: space-between;

            .tab-name {
                padding      : 13px 0 12px 0;
                font-size    : 12px;
                font-weight  : 500;
                border-bottom: 1px solid #fff;
                color        : #99a3ba;
                margin-right : 17px;
                cursor       : pointer;
                transition   : all ease-in 0.3s;

                &.active {
                    border-bottom: 1px solid #3e84ff;
                    color        : #3e84ff;
                    transition   : all ease-in 0.3s;
                }

                .user {
                    position     : absolute;
                    height       : 50px;
                    width        : 300px;
                    top          : 42px;
                    left         : -16px;
                    border-radius: 2px;
                    background   : #4085ff;
                    box-shadow   : 0 4px 10px -2px rgba(18, 22, 33, 0.11);
                }

                .user::before {
                    content      : "";
                    display      : block;
                    position     : absolute;
                    width        : 0;
                    height       : 0;
                    border-left  : 10px solid transparent;
                    border-right : 10px solid transparent;
                    border-bottom: 10px solid #4085ff;
                    margin       : -9px 0 0 14px;

                }
            }
        }

        .content {
            display       : flex;
            flex-direction: column;
            flex          : 1;

            .content-top {
                flex-basis    : 50%;
                overflow      : hidden;
                padding-bottom: 14px;
            }

            .content-bottom {
                flex          : 1;
                overflow      : hidden;
                display       : flex;
                flex-direction: column;
                position      : relative;

                .no-wells {
                    height         : 100%;
                    display        : flex;
                    flex           : 1;
                    align-items    : center;
                    justify-content: center;

                    &>div {
                        display        : flex;
                        justify-content: center;
                        flex-direction : column;
                        align-items    : center;
                        padding        : 30px;
                        margin         : 40px;
                        text-align     : center;
                        border-radius  : 10px;
                        border         : 1px dashed #ccc;
                    }
                }

                .tab-function {
                    border-top     : 1px solid #e4ecfa;
                    display        : flex;
                    align-items    : center;
                    padding-left   : 16px;
                    justify-content: flex-end;
                    position       : absolute;
                    bottom         : 0;
                    width          : 100%;

                    .tab-fn-name {
                        padding      : 15px 0 14px 0;
                        font-size    : 12px;
                        font-weight  : 500;
                        border-bottom: 1px solid #fff;
                        color        : #99a3ba;
                        margin-right : 17px;
                        cursor       : pointer;
                        transition   : all ease-in 0.3s;
                    }
                }
            }

            .setting {
                display       : flex;
                flex-direction: column;
                margin-bottom : 20px;

                .setting-title {
                    // font-weight: bold;
                }

                .setting-content {
                    color          : #b2b5bd;
                    display        : flex;
                    align-items    : center;
                    justify-content: space-between;

                    .zone-pick {
                        margin       : 0 0px 8px 10px;
                        padding      : 5px 10px;
                        color        : #5d5d5d;
                        background   : #f1f1f1;
                        border       : 1px solid #99a3ba78;
                        border-radius: 3px;
                        min-width    : 80px;
                    }
                }

                .theme {
                    width          : 30px;
                    height         : 30px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : #fff;
                    opacity        : 0.3;
                    border-radius  : 50%;
                    border         : 4px solid #fff;
                    margin-right   : 10px;
                    transition     : all ease-in 0.3s;
                    cursor         : pointer;

                    &.active {
                        transition: all ease-in 0.3s;
                        opacity   : 1;
                        box-shadow: 0 0px 5px #00000021;
                        border    : 1px solid #fff;

                    }

                    &:hover {
                        transition: all ease-in 0.1s;
                        opacity   : 1;
                    }
                }

                .filter-zone {
                    display        : flex;
                    align-items    : center;
                    justify-content: space-between;
                    margin         : 10px 0 10px;
                    border-bottom  : 1px solid #e4ecfa;

                    .filter {
                        display    : flex;
                        align-items: center;
                        transition: all ease-in 0.1s;


                        .show-detail-zone {
                            color     : #3e84ff;
                            transition: all ease-in 0.1s;
                        }

                        >div {
                            cursor       : pointer;
                            border-radius: 2px;
                            font-size    : 15px;
                            margin-left  : 15px;
                            transition   : all ease-in 0.1s;

                            &:hover {
                                color     : #3e84ff;
                                transition: all ease-in 0.1s;

                            }
                        }
                    }
                }



                .list-zone {
                    overflow: auto;

                    .zone {
                        display        : flex;
                        flex-direction : column;
                        align-items    : center;
                        justify-content: space-between;
                        color          : #909090;
                        transition     : all ease-in 0.2s;
                        border-radius  : 5px;
                        border         : 1px solid #fff;

                        .zone-name {
                            background   : #f4f6f9;
                            color        : #b2b5bd;
                            border-radius: 2px;
                            padding      : 10px 15px;
                        }

                        .icon {
                            margin-right: 10px;
                            filter      : grayscale(1);
                            opacity     : 0.5;
                            cursor      : pointer;
                            transition  : all ease-in 0.2s;

                            &:hover {
                                transform : scale(1.2);
                                filter    : grayscale(0) saturate(2);
                                transition: all ease-in 0.2s;
                            }
                        }
                    }

                    .zone-title {
                        display        : flex;
                        width          : 100%;
                        align-items    : center;
                        justify-content: space-between;
                        margin         : 15px 0 10px;
                        transition: all ease-in 0.2s;

                        >div {
                            cursor: pointer;
                            &:hover {
                                color     : #3e84ff;
                                transition: all ease-in 0.2s;
                            }
                        }
                    }

                    .selected-zone {
                        color     : #3e84ff;
                        transition: all ease-in 0.2s;

                        .icon {
                            filter      : hue-rotate(268deg);
                            margin-right: 10px;
                            opacity     : 1;
                        }

                        &:hover {
                            color     : #3e84ff;
                            background: #fff;
                            transition: all ease-in 0.2s;
                        }
                    }
                }
            }
        }
    }

    //SWITCH BUTTON

    .switch {
        position   : relative;
        display    : inline-block;
        min-width  : 31px;
        height     : 16px;
        margin-left: 20px;
    }

    .switch input {
        opacity: 0;
        width  : 0;
        height : 0;
    }

    .slider {
        position             : absolute;
        cursor               : pointer;
        top                  : 0;
        left                 : 0;
        right                : 0;
        bottom               : 0;
        // background-color  : #ccc;
        background-image     : linear-gradient(to right, #a9a9a9, #d6d6d6);
        -webkit-transition   : .2s;
        transition           : .2s;
    }

    .slider:before {
        position          : absolute;
        content           : "";
        height            : 14px;
        width             : 14px;
        left              : 1px;
        bottom            : 1px;
        background-color  : white;
        -webkit-transition: 0.2s;
        transition        : 0.2s;
        box-shadow        : 0 1px 3px #0000003b;
    }

    input:checked+.slider {
        // background-color: #3e84ff;
        background-image   : linear-gradient(to right, #55b8ff, #4a73e6);
    }

    input:focus+.slider {
        box-shadow: none;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(15px);
        -ms-transform    : translateX(15px);
        transform        : translateX(15px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    // CUSTOM CSS
    //////////////////////////////////////////////////////////////////////////////////////
    .rg-bottom {
        border-bottom: 1px solid #e4ecfa;
        background   : #fff;
        margin-bottom: 0px;
    }

    .rg-bottom span,
    .rg-left span,
    .rg-right span,
    .rg-top span {
        border: none;
    }

    .slim-scroller ::-webkit-scrollbar {
        background: #fff !important;
        width     : 3px;
    }

    .slim-scroller ::-webkit-scrollbar-thumb {
        background   : #9aa4bb57 !important;
        border-radius: 10px;
    }

    wi-login>div {
        right          : unset;
        width          : 100%;
        top            : 7px;
        padding        : 7px 15px 7px 7px;
        font-family    : Roboto, Arial !important;
        justify-content: space-between;

        >span {
            color: #3e84ff;
        }

        >div span.icon {
            display: none;
        }

        .ngdialog .login {
            font-family: Roboto, Arial !important;
        }
    }



    wi-tree-node>div {
        padding-left: 10px;
    }

    wi-tree-node .node-content,
    wi-tree-node .node-content::after {
        line-height  : unset;
        padding      : 7px 15px 7px 7px;
        margin       : 0 10px;
        background   : #fff;
        border-bottom: unset;
        transition   : all ease-in 0.1s;
        border-radius: 2px;
        user-select  : none;

    }

    wi-tree-node .node-content.selected::after {
        background: none;

    }

    wi-tree-node .node-label {
        font-size: 12px;
        padding  : 0 10px;
    }

    wi-tree-node .node-caret {
        width: 18px;
    }

    wi-tree-node .node-icon {
        filter: saturate(2)
    }

    wi-tree-node .node-content:hover {
        background: #f1f1f1;
        transition: all ease-in 0.1s;

    }

    wi-tree-node .node-content.selected {
        background   : #f1f1f1;
        border-radius: 2px;
        transition   : all ease-in 0.1s;
    }

    wi-tree-node .node-content::after {
        content : unset;
        color   : transparent;
        display : block;
        position: absolute;
        top     : 0;
        width   : 4px;
    }

    wi-tree-view div input {
        max-width    : calc(100%);
        line-height  : unset;
        padding      : 11px 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e4ecfa;
        background   : #fff;
        border-radius: 0;
        color        : #353535;
    }

    wi-droppable {
        height        : 100%;
        height        : 100%;
        width         : 100%;
        padding-bottom: 43px;
    }

    //////////////////////////////////////////////////////////////////////////////////////
}