base-map {
    .main {
        display: flex;
        height: 100%;
        flex-direction: column;

        .main-toolbar {
            flex-basis: 44px;
            background: #0074c5;
            display: flex;
            align-items: center;
            position: relative;

            .menu-item {
                margin: 0 15px;
                color: #fff;
                display: flex;
                align-items: center;
                cursor: pointer;

                .select-proj4 {
                    box-shadow: none;
                    border: none;
                    border-radius: 0;
                    font-size: 12px;
                    color: #fff;
                    background: none;
                    
                }
                option {
                    color: black;
                }

                .select-proj4:focus {
                    border-color: none;
                    outline: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;

                }
            }
        }

        .main-body {
            flex: 1;
            display: flex;
            overflow: hidden;
            position: relative;

            .main-body-left {
                display: flex;
                z-index: 1;
                height: calc(100%);
                position: absolute;

                .label-list-view {
                    height: 40px;
                    padding: 11px 13px;
                    font-weight: bold;
                    background: #f4f4f4;
                    border-bottom: 1px solid #efefef;
                }

                .label-buttom {
                    float: right;
                    font-size: 115%;
                    cursor: pointer;
                    color: #bbbbbb;
                    margin: 2px 5px 0 25px;
                }

                .input-search-list-view {
                    background: #fff;
                    width: 100%;
                    height: 44px;
                    border: 1px solid #ffffff4a;
                    border-bottom: 1px solid #eaeaea;
                    padding: 10px 20px 10px 15px;
                    font-weight: bold;
                }

                ::-webkit-input-placeholder {
                    opacity: 0.5;
                    color: rgba(0, 0, 0, 0.253);
                    /* font-weight: 100; */
                }

                :focus::-webkit-input-placeholder {
                    opacity: 0.5;
                    color: rgba(0, 0, 0, 0.253);
                    /* font-weight: 100; */
                }

                .input-search-list-view:focus {
                    outline: none;
                }
            }

            .main-body-center {
                flex: 1;
                display: flex;
                height: 100%;
                position: relative;
            }
        }
    }

    .fn-button {
        font-size: 9px;
        font-weight: bold;
        border: 1px solid #d7d7d7;
        padding: 4px 10px;
        border-radius: 2px;
        color: #000;
        background: #ffffff;
        cursor: pointer;
        margin-left: 10px;
        transition: all 0.2s ease-in;
        &:hover {
          border: 1px solid #0077be;
          color: #0077be;
          transition      : all 0.2s ease-in;
          background: #fff;
        }
      }
      
    .border-red {
        border: 1px solid red;
    }

    .border-blue {
        border: 1px solid blue;
    }

    .height-50 {
        height: 50%;
        overflow: auto;
    }

    .height-60 {
        height: 60%;
        overflow: auto;
    }

    .height-40 {
        height: 100%;
        overflow: auto;
    }

    // ::-webkit-scrollbar {
    //     display: none;
    // }

    ::-webkit-scrollbar {
        background: #f4f4f4;
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #dcdcdc;
    }

    

}


/* change style special of wi-base-treeview for basemap */
wi-tree-view {
    & div input {
        width: 100%;
        line-height: 1.4;
        padding: 10px 10px 10px 14px;
        border: none;
        border-bottom: 1px solid #f0f0f0;
        outline: none;
        box-sizing: border-box;

        &::placeholder {
            color: #cecece;
        }
    }
}
wi-droppable {
    height: 100%;
}
wi-tree-node {
    &>div {
        cursor: default;
        //margin: 0 0 0 15px;
        padding-left: 12px;

    }

    .node-caret,
    .node-label,
    .node-icon {
        display: flex;
        padding-right: 10px;
        font-size: 13px;
    }

    .node-caret {
        color: #cccbcb;
        font-size: 14px;
        cursor: pointer;
        width: 16px;
    }

    .invisible {
        visibility: hidden;
    }

    .node-content {
        border-bottom: 1px solid #f0f0f0;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        // padding: 11px;
        display: flex;
        align-items: center;
        transition-property: padding, margin;
        transition-duration: 0.2s;

        &,
        &::after {
            line-height: 3em;
        }

        // &.search-mode>div {
        //     opacity: 0.2;
        // }

        &.search-mode.highlight {
            color: #0077be;

            &>div {
                opacity: 1;
            }
        }

        &.selected {
            background: linear-gradient(to left, #f0f0f0, #fff);
            //padding: 11px;

            &::after {
                background-color: #0077be;
                line-height: 3em;
            }
        }

        &::after {
            content: "2r";
            color: transparent;
            display: block;
            position: absolute;
            top: 0;
            width: 4px;
        }

        &::after {
            right: 0;
        }
    }

    .node-content:hover {
        background: linear-gradient(to left, #f0f0f0, #fff);
    }

    .dragging {
        border: none;
        background-color: transparent;
        z-index: 1;

        &.selected {
            background: transparent;
            //padding: 11px;

            &::after {
                background-color: transparent;
                line-height: 2.3em;
            }
        }
    }

}

// wi-base-treeview {
//     .wi-treeview-container {
//         border-bottom: 1px solid #f4f4f4;
//         .wi-parent-content {
//             align-items: center;


//             >div.item-content {
//                 align-items: center;
//                 margin-left: 6px;
//                 .display-inline-block{
//                     padding-top: 0 !important;
//                     display: flex;
//                 }
//             }

//             .icon-expanded {
//                 display: none;
//             }
//         }
//     }

//     .wi-treeview-container:focus {
//         color: #000;
//         font-weight: bold;
//         background: #f4f4f4;
//         border-left: 4px solid #0074c5;
//         margin: 0;
//         padding: 0 6px;
//         display: flex;
//         align-items: center;
//         transition: none;
//     }
// }