base-map {
    @media only screen and (max-width: 1000px){
        .ti ,.fa{
            font-size: 180% !important;
        }

        ul.dashboard > li.dashboard-widget {
            min-width: calc(100% - 20px);
            user-select: none;
        }
        .hide-in-mobile {
            display: none !important;
        }
        .hide-in-desktop {
            display: block !important;
        }
        .guide-mobile {
            height: calc(100vh - 340px) !important;
            width: 100% !important;
            bottom: 0 ;
            right: unset !important;
            display: flex;
            align-items: center;
            justify-content: center;
            .content {
                position: static !important;
                width: unset !important;
                display: flex;
                top: unset !important;
                left: unset !important;
            }
        }

    }
    .hide-in-desktop {
        display: none;
    }
    span.sortable-placeholder {
        background-color: #333;
        width: 50px;
        height: 17px;
    }
    #main {
        transition: all ease-in 0.3s;
    }

    #map-upfile-1 {
        display: none;
    }

    #map-upfile-2 {
        display: none;
    }
    .customize-tree-view {
        &> div input {
            border-radius: 0;
            margin: 0px 0 20px 0;
            max-width: 100%;
            background: transparent;
            border-bottom: 1px solid #ccc;
        }
        wi-tree-node-virtual .node-content.selected {
            margin: 0;
        }
        wi-tree-node-virtual .node-content {
            margin: 0;
        }
    }
    .help {
        cursor: pointer;
        animation          : showing-side-right 3s;
        animation-duration : 2.5s;
        animation-fill-mode: both;
        width: 40px;
        height: 40px;
        position: fixed;
        right: 40px;
        top: 40px;
        border-radius: 4px;
        z-index: 1;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #fff !important;
        box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.09) !important;
        .help-content {
            width: 165px;
            position: absolute;
            background: #fff;
            top: 0px;
            right: 60px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            padding: 15px;
            user-select: none;
            cursor: default;
            pointer-events: none;
            box-shadow: 0 4px 14px -2px rgba(0, 0, 0, 0.09) !important;
            .help-content-row {
                display: flex;
                align-items: center;
                padding: 10px;
                &>span {
                    line-height: 0;
                }
                .circle {
                    width: 15px;
                    height: 15px;
                    border: 2px solid #5858588c;
                    background-color: #585858;
                    border-radius: 50%;
                    margin-right: 16px;
                }
                .arrow {
                    width: 15px;
                    height: 15px;
                    margin-right: 15px;
                    opacity: 0.7;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M49.4,306.6l177.5,177.5c5.1,5.1,11.8,7.8,19.2,7.8c7.2,0,14-2.8,19-7.8l177.5-177.5c10.5-10.5,10.5-27.6,0-38.1 l-16.1-16.1c-5.1-5.1-11.8-7.8-19-7.8c-7.2,0-14.2,2.8-19.3,7.8L284.4,356V26.9C284.4,12.1,272.8,0,258,0h-22.8 c-14.8,0-27.6,12.1-27.6,26.9v330.3L103.2,252.4c-5.1-5.1-11.6-7.8-18.8-7.8s-13.9,2.8-18.9,7.8l-16.1,16.1 C38.8,279,38.9,296.1,49.4,306.6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                }
                .well-icon {
                    width: 15px;
                    height: 15px;
                    margin-right: 15px;
                    opacity: 0.7;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cpath d='M411.1,451.6h-9.5L317.9,41.2h1.8c7,0,12.6-5.7,12.6-12.6v-10c0-7-5.7-12.6-12.6-12.6H172.2c-7,0-12.6,5.7-12.6,12.6v10 c0,7,5.7,12.6,12.6,12.6h0.9L89.6,451.5h-10c-7,0-12.6,5.7-12.6,12.6v10c0,7,5.7,12.6,12.6,12.6h47.7c7,0,12.6-5.7,12.6-12.6v-10 c0-7-5.7-12.6-12.6-12.6h-1.7l19.7-96.6h83.2v96.6h-6.2c-7,0-12.6,5.7-12.6,12.6v10c0,7,5.7,12.6,12.6,12.6h47.6 c7,0,12.6-5.7,12.6-12.6v-10c0-7-5.7-12.6-12.6-12.6h-6.2v-96.6h82.2l19.7,96.6h-2.4c-7,0-12.6,5.7-12.6,12.6v10 c0,7,5.7,12.6,12.6,12.6h47.7c7,0,12.6-5.7,12.6-12.6v-10C423.7,457.3,418,451.6,411.1,451.6z M308.9,174.1h-45.3V41.4h18.3 L308.9,174.1z M228.4,41.2v132.9h-46.1l27.1-132.9C209.2,41.2,228.4,41.2,228.4,41.2z M152.4,319.6l22.5-110.3h53.4v110.3H152.4z M263.7,319.6V209.3h52.4l22.5,110.3H263.7z'/%3E%3C/svg%3E");
                }
                .search {
                    width: 15px;
                    height: 15px;
                    margin-right: 15px;
                    opacity: 0.7;
                    background-size: cover;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='136pt' version='1.1' viewBox='-1 0 136 136.21852' width='136pt'%3E%3Cg id='surface1'%3E%3Cpath d='M 93.148438 80.832031 C 109.5 57.742188 104.03125 25.769531 80.941406 9.421875 C 57.851562 -6.925781 25.878906 -1.460938 9.53125 21.632812 C -6.816406 44.722656 -1.351562 76.691406 21.742188 93.039062 C 38.222656 104.707031 60.011719 105.605469 77.394531 95.339844 L 115.164062 132.882812 C 119.242188 137.175781 126.027344 137.347656 130.320312 133.269531 C 134.613281 129.195312 134.785156 122.410156 130.710938 118.117188 C 130.582031 117.980469 130.457031 117.855469 130.320312 117.726562 Z M 51.308594 84.332031 C 33.0625 84.335938 18.269531 69.554688 18.257812 51.308594 C 18.253906 33.0625 33.035156 18.269531 51.285156 18.261719 C 69.507812 18.253906 84.292969 33.011719 84.328125 51.234375 C 84.359375 69.484375 69.585938 84.300781 51.332031 84.332031 C 51.324219 84.332031 51.320312 84.332031 51.308594 84.332031 Z M 51.308594 84.332031 ' style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;'/%3E%3C/g%3E%3C/svg%3E");
                }
            }
            &::before {
                content: "";
                display: block;
                position: fixed;
                right: 40px;
                top: 50%;
                transform: translate(0, -50%);
                width: 0;
                height: 0;
                border-bottom: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid transparent;
                border-left: 10px solid #ffffff;
            }
        }
    }
    .dark-mode {
        filter    : invert(1) hue-rotate(180deg) brightness(1.8) saturate(1);
        transition: all ease-in 0.3s;
        background: #eaeaea !important;
        .theme-list {
            filter    : invert(1) hue-rotate(180deg) brightness(1.8) saturate(1);
        }
        &.main {
            box-shadow: 0 4px 50px -2px rgba(255, 255, 255, 0.33) !important;
        }
    }
    // .theme {
    //     border: transparent !important;
    // }
 
    .disable {
        user-select: none;
        pointer-events: none;
        opacity: 0.2;
        transition: all ease-in 0.2s;
    }

    .change-layout {
        margin       : 0 !important;
        height       : 100% !important;
        box-shadow   : none !important;
        border-radius: 0 !important;
        border-right : 2px solid #f5f5f5;
    }

    .change-layout-dialog {
        // margin       : 0 0 0 340px !important;
        height       : 100% !important;
        // width        : calc(100vw - 340px) !important;
        box-shadow   : none !important;
        border-radius: 0 !important;
    }

    .searchInput {
        border    : none;
        padding   : 0px 15px;
        background: none;
    }

    input:focus {
        outline-offset: unset;
    }

    :focus {
        outline: none;
    }

    .full-scale {
        transition: all 0.3s ease-in;
        flex-basis: 300px !important;
    }

    .change-height {
        transition: height 0.1s ease-in;
        height    : 110px !important;

        >div {
            border-color: transparent !important;
        }
    }

    .main {
        font-family        : Roboto, Arial !important;
        transition         : height 0.2s ease-in;
        height             : calc(100% - 80px);
        width              : 340px;
        margin             : 40px;
        display            : flex;
        flex-direction     : column;
        background         : #fff;
        // position           : fixed;
        z-index            : 1;
        border-radius      : 5px;
        box-shadow         : 0 4px 50px -2px rgba(18, 22, 33, 0.19);
        animation          : showing-side 3s;
        animation-duration : 2.5s;
        animation-fill-mode: both;

        .tab {
            border-bottom  : 1px solid #0000000d;
            display        : flex;
            align-items    : center;
            padding-left   : 16px;
            justify-content: space-between;



            .tab-fn {
                width          : 32px;
                height         : 32px;
                margin         : 15px 10px;
                border-radius  : 50%;
                font-size      : 13px;
                display        : flex;
                border         : 1px solid #3e84ff;
                align-items    : center;
                justify-content: center;
                color          : #1c5ac7;
                cursor         : pointer;
                transition     : all ease-in 0.2s;

                &:hover {
                    border    : 1px solid #3f85ff;
                    background: #3f85ff;
                    color     : #fff;
                    transform : scale(1.2);
                    transition: all ease-in 0.2s;
                }

                &.on {
                    border    : 1px solid #3f85ff;
                    background: #3f85ff;
                    color     : #fff;
                    transition: all ease-in 0.2s;
                }

            }

            .inactive {
                opacity       : 0.5;
                pointer-events: none;
                border        : 1px solid #c4c4c4;
                color         : rgba(0, 0, 0, 0.438);
            }

            .tab-name {
                padding      : 15px 0 14px 0;
                font-size    : 12px;
                font-weight  : 500;
                border-bottom: 2px solid #fff0;
                color        : #5d5d5d;
                margin-right : 19px;
                cursor       : pointer;
                transition   : all ease-in 0.3s;
                position     : relative;
                display      : flex;
                align-items  : center;
                user-select: none;

                .tab-badge {
                    background-color: #2096f3;
                    font-size       : 70%;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    height          : 17px;
                    width           : 17px;
                    padding         : 5px;
                    font-weight     : 700;
                    line-height     : 1;
                    color           : #fff;
                    text-align      : center;
                    white-space     : nowrap;
                    vertical-align  : middle;
                    border-radius   : 50%;
                    margin-left     : 5px;
                }

                &.active {
                    border-bottom: 2px solid #3e84ff;
                    color        : #3e84ff;
                    transition   : all ease-in 0.3s;
                }

                .user {
                    position     : absolute;
                    height       : 54px;
                    width        : 340px;
                    top          : 42px;
                    right        : -19px;
                    border-radius: 2px;
                    background   : #4085ff;
                    box-shadow   : 0 4px 10px -2px rgba(18, 22, 33, 0.11);
                }

                .user::before {
                    content      : "";
                    display      : block;
                    position     : absolute;
                    right        : 15px;
                    width        : 0;
                    height       : 0;
                    border-left  : 10px solid transparent;
                    border-right : 10px solid transparent;
                    border-bottom: 10px solid #4085ff;
                    margin       : -9px 0 0 14px;

                }
            }
        }

        @keyframes showing-side {

            // 0% {
            //     transform: translateX(-500px)
            // }
            // 20%,
            // 50%,
            // 80%,
            // 100% {
            //     transform: translateX(0);
            // }

            // 40% {
            //     transform: translateX(-10px);
            // }

            // 60% {
            //     transform: translateX(-15px);
            // }

            0% {
                transform: translate(-700px, 0);
            }

            80% {
                transform: translate(-600px, 0);
            }

            95% {
                transform: translate(10px, 0);
            }

            100% {
                transform: translate(0, 0);
            }

        }
        @keyframes showing-side-right {

            0% {
                transform: translate(700px, 0);
            }

            80% {
                transform: translate(600px, 0);
            }

            95% {
                transform: translate(-10px, 0);
            }

            100% {
                transform: translate(0, 0);
            }

        }

        .content {
            display       : flex;
            flex-direction: column;
            flex          : 1;
            height        : inherit;

            .info {
                background     : #3f85ff;
                border         : 1px solid #2E8EFF;
                border-radius  : 3px;
                color          : #fff;
                display        : flex;
                align-items    : center;
                justify-content: center;
                font-weight    : bold;
                padding        : 8px;
            }

            .export {
                position       : absolute;
                width          : calc(100% - 30px);
                display        : flex;
                align-items    : center;
                justify-content: center;
                bottom         : 15px;
                &>div {
                    flex: 1;
                    background     : #3f85ff;
                    border-radius  : 3px;
                    color          : #fff;
                    font-weight    : bold;
                    padding        : 15px;
                    display: flex;
                    justify-content: center;

                    cursor         : pointer;
                }

            }

            .upload {
                display             : flex;
                flex-direction      : column;
                // padding-bottom   : 20px;
                margin-bottom       : 20px;
                // border-bottom    : 1px solid #cccccc30;

                .upload-header {
                    display        : flex;
                    align-items    : center;
                    justify-content: space-between;

                    .file-icon {
                        font-size   : 20px;
                        margin-right: 15px;
                    }

                    .btn-add {
                        width          : 20px;
                        height         : 20px;
                        color          : #1a63e2;
                        border         : 1px solid #3e84ff;
                        border-radius  : 50%;
                        display        : flex;
                        align-items    : center;
                        justify-content: center;
                        cursor         : pointer;
                    }
                }

                .upload-content {
                    border-radius       : 3px;
                    // padding          : 10px;
                    // border           : 1px solid #f5f5f5;
                    // background       : #fff;
                    display             : flex;
                    flex-direction      : column;
                    // margin-bottom    : 20px;
                    line-height         : 1.6;

                    .file-upload {
                        color        : #3e84ff;
                        font-weight  : bold;
                        cursor       : pointer;
                        margin-bottom: 15px;
                    }
                }

            }


            .content-top {
                flex          : 1;
                overflow      : hidden;
                padding-bottom: 14px;
                height        : 100%;
            }

            .content-bottom {
                flex-basis    : 200px;
                overflow      : hidden;
                display       : flex;
                flex-direction: column;
                position      : relative;

                .no-wells {
                    height         : 100%;
                    display        : flex;
                    flex           : 1;
                    align-items    : center;
                    justify-content: center;

                    &>div {
                        display        : flex;
                        justify-content: center;
                        flex-direction : column;
                        align-items    : center;
                        padding        : 30px;
                        margin         : 40px;
                        text-align     : center;
                        border-radius  : 10px;
                        border         : 1px dashed #5592ff5c;
                    }
                }

                .tab-function {
                    border-top     : 1px solid #e4ecfa;
                    border-bottom  : 1px solid #e4ecfa;
                    display        : flex;
                    align-items    : center;
                    padding-left   : 16px;
                    justify-content: flex-end;
                    position       : absolute;
                    bottom         : 0;
                    width          : 100%;

                    .tab-fn-name {
                        padding         : 15px 0 14px 0;
                        font-size       : 12px;
                        font-weight     : 500;
                        // border-bottom: 1px solid #fff;
                        color           : #99a3ba;
                        margin-right    : 17px;
                        cursor          : pointer;
                        transition      : all ease-in 0.3s;
                    }
                }
            }

            .setting {
                display       : flex;
                flex-direction: column;
                margin-bottom : 20px;

                .setting-title {
                    margin-bottom: 10px;
                    font-weight: bold;
                    color      : #000;
                    display: flex;
                    justify-content: space-between;
                }

                .setting-content {
                    color          : #848484;
                    display        : flex;
                    font-weight    : 400;
                    align-items    : center;
                    justify-content: space-between;

                    .zone-pick {
                        margin       : 0 0px 8px 10px;
                        padding      : 5px 10px;
                        color        : #5d5d5d;
                        background   : #f1f1f1;
                        border       : 1px solid #99a3ba78;
                        border-radius: 3px;
                        min-width    : 80px;
                    }
                }

                .setting-sub-title {
                    // font-style: italic;
                    color        : #848484;
                    font-weight  : 400;
                }

                

                .zone-btn {
                    padding      : 5px 20px;
                    background   : #4085ff;
                    border-radius: 2px;
                    display      : flex;
                    align-items  : center;
                    color        : #fff;
                    cursor       : pointer;
                }

                .theme {
                    width          : 30px;
                    height         : 30px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    color          : #fff;
                    opacity        : 0.8;
                    border-radius  : 50%;
                    border         : 4px solid #fff;
                    margin-right   : 10px;
                    transition     : all ease-in 0.3s;
                    cursor         : pointer;

                    &.active {
                        transition: all ease-in 0.3s;
                        opacity   : 1;
                        box-shadow: 0 0px 5px #00000021;
                        border    : 1px solid #fff;

                    }

                    &:hover {
                        transition: all ease-in 0.1s;
                        opacity   : 1;
                    }
                }

                
            }
        }
    }
    .dialog-setting {
        z-index: 1;
        position: fixed;
        width: 340px;
        height: 330px;
        margin: 40px auto auto 420px;
        top: 0;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 4px 50px -2px rgba(18, 22, 33, 0.19);
        overflow: hidden;
        animation          : showing-dialog-popup 0.5s;
        animation-fill-mode: both;
        .filter-zone {
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            margin         : 10px 0 10px;
            // border-bottom  : 1px solid #0000000d;
            padding: 0px 25px;

            .filter {
                display    : flex;
                align-items: center;
                transition : all ease-in 0.1s;


                .show-detail-zone {
                    color     : #3e84ff;
                    transition: all ease-in 0.1s;
                }

                >div {
                    cursor       : pointer;
                    border-radius: 2px;
                    font-size    : 15px;
                    margin-left  : 15px;
                    transition   : all ease-in 0.1s;

                    &:hover {
                        color     : #3e84ff;
                        transition: all ease-in 0.1s;

                    }
                }
            }
        }



        .list-zone {
            overflow: hidden overlay;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            height: 100%;

            .zone {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #909090;
                /* border-radius: 2px; */
                border-right: 1px solid #ececec;
                border-bottom: 1px solid #ececec;
                /* background: #f1f1f1; */
                height: 56px;
                /* margin: 0 10px 10px 0; */
                transition: all ease-in 0.2s;
                cursor: pointer;


                .zone-name {
                    // background   : #ffffff;
                    color           : #656565;
                    border-radius   : 2px;
                    padding         : 5px 15px 25px 30px;
                    // box-shadow   : 0 3px 4px #00000005;
                }

                .icon {
                    margin-right: 15px;
                    filter      : grayscale(1);
                    cursor      : pointer;
                    transition  : all ease-in 0.2s;

                    &:hover {
                        transform : scale(1.2);
                        filter    : grayscale(0) saturate(2);
                        transition: all ease-in 0.2s;
                    }
                }
                &:hover {
                    background: #f1f1f1;
                    transition: all ease-in 0.1s;
                    color: #3e84ff;
                    transform: scale(1.2);
                }
            }

            .zone-title {
                color          : #000;
                font-weight    : 500;
                display        : flex;
                width          : 100%;
                align-items    : center;
                justify-content: space-between;
                // margin         : 15px 0 0 0;
                transition     : all ease-in 0.2s;

                >div {
                    cursor: pointer;

                    &:hover {
                        color     : #3e84ff;
                        transition: all ease-in 0.2s;
                    }
                }
            }

            .selected-zone {
                color: #ffffff !important;
                background: #3e84ff !important;
                transition: all ease-in 0.2s;
            }
        }
        .dialog-header {
            padding: 15px 20px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #c4c4c459;
            justify-content: space-between;
            &>div>span {
                font-weight: bold; 
                margin-left: 15px;
            }
        }
        .dialog-main {
            height:  calc(100% - 60px);
            overflow: hidden;
            input {
                width: 100%;
                border: none;
                background: transparent;
            }
            .cell {
                background: #efefef;
                margin: 5px;
                border-radius: 2px;
                padding: 5px;
                border: 1px solid #ececec;
            }
        }
        .dialog-btn {
            &:hover {
                transition: all ease-in 0.2s;
                background-color: #3e84ff !important;
                color: #fff;
            }
        }
    }
    .height0 {
        height: 0 !important;
    }
    .dialog {
        font-family    : Roboto, Arial !important;
        font-size      : 12px;
        flex: 1;
        overflow: hidden;
        // position       : absolute;
        // width          : calc(100vw - 540px);
        // height         : calc(100vh - 80px);
        background     : rgb(255, 255, 255);
        z-index        : 1;
        // margin         : 40px 40px 0 420px;
        border-radius  : 5px;
        box-shadow     : 0 4px 50px -2px rgba(18, 22, 33, 0.08);
        transform      : scale(0);
        transition     : all ease-in 0.2s;

        &.show-dashboard {
            transition: all ease-in 0.2s;
            transform : scale(1);
        }

        .gradient-top {
            position        : absolute;
            top             : 61px;
            width           : 100%;
            height          : 25px;
            z-index         : 1;
            background-image: linear-gradient(180deg, #fff, #fff0);
        }

        .gradient-bottom {
            position        : absolute;
            bottom          : 147px;
            width           : 100%;
            height          : 25px;
            z-index         : 1;
            background-image: linear-gradient(0deg, #fff, #fff0);

        }

        .display-dialog {
            display       : flex;
            height        : 100%;
            flex-direction: column;
            position      : relative;

            .footer-dialog {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                flex-basis     : 76px;
                width          : 100%;
                bottom         : 0;
                padding        : 0 20px;

                .title-dialog {
                    font-weight: 500;
                    color      : #99a3ba;
                }

                .next {
                    color        : #ffffff;
                    font-size    : 12px;
                    cursor       : pointer;
                    padding      : 5px 20px;
                    align-items  : center;
                    display      : flex;
                    background   : #4085ff;
                    border-radius: 2px;
                    transition   : all ease-in 0.2s;

                    &:hover {
                        transition: all ease-in 0.2s;
                        background: #619bff;
                    }

                    &:active {
                        transition: all ease-in 0.2s;
                        transform : scale(0.8);
                    }
                }
            }

            .header-dialog {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                height         : 49px;
                border-bottom  : 1px solid #0000000d;
                padding        : 0 15px;

                .title-dialog {
                    font-weight: 500;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .main-dialog {
                flex      : 1;
                display   : flex;
                // padding   : 20px;
                overflow  : auto;
                background: #7b7b7b12;
                display   : flex;
                flex-wrap : wrap;

                
                .scroll {
                    display       : flex;
                    flex-direction: row;
                    position      : relative;


                    .scroll-block {
                        overflow      : auto;
                        flex          : 1;
                        display       : flex;
                        flex-direction: column;
                        height        : 200px;

                        >div {
                            cursor       : pointer;
                            padding      : 10px;
                            font-size    : 17px;
                            text-align   : center;
                            font-weight  : bold;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            color        : #c7d7f5;
                            border       : 1px solid #e4ecfa;
                            transition   : all ease-in 0.1s;

                            &:hover {
                                background: #4085ff;
                                transition: all ease-in 0.1s;
                            }
                        }
                    }
                }

            }
        }
    }


    //SWITCH BUTTON

    .switch {
        position     : relative;
        display      : inline-block;
        min-width    : 31px;
        height       : 16px;
        margin-left  : 20px;
        margin-bottom: 0px;
    }

    .switch input {
        opacity: 0;
        width  : 0;
        height : 0;
    }

    .slider {
        position             : absolute;
        cursor               : pointer;
        top                  : 0;
        left                 : 0;
        right                : 0;
        bottom               : 0;
        // background-color  : #ccc;
        background-image     : linear-gradient(to right, #e8e8e8, #d6d6d6);
        -webkit-transition   : .2s;
        transition           : .2s;
    }

    .slider:before {
        position          : absolute;
        content           : "";
        height            : 14px;
        width             : 14px;
        left              : 1px;
        bottom            : 1px;
        background-color  : white;
        -webkit-transition: 0.2s;
        transition        : 0.2s;
        box-shadow        : 0 1px 3px #0000003b;
    }

    input:checked+.slider {
        // background-color: #3e84ff;
        background-image   : linear-gradient(to right, #55b8ff, #4a73e6);
    }

    input:focus+.slider {
        box-shadow: none;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(15px);
        -ms-transform    : translateX(15px);
        transform        : translateX(15px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    // CUSTOM CSS
    //////////////////////////////////////////////////////////////////////////////////////
    .rg-bottom {
        border-bottom: 1px solid #00000017;
        background   : #fff0;
        margin-bottom: 0px;
    }

    .rg-top {
        top: 11px;
    }

    .rg-bottom span,
    .rg-left span,
    .rg-right span,
    .rg-top span {
        height: 0;
        border: 1px solid #c7d1d1;
        margin: 7.5px 0 0 -10px;
    }

    .slim-scroller ::-webkit-scrollbar {
        background: #fff0 !important;
        width     : 3px;
    }

    .slim-scroller ::-webkit-scrollbar-thumb {
        background   : #9aa4bb57 !important;
        border-radius: 10px;
    }

    .hide-scroller ::-webkit-scrollbar-thumb {
        background   : #ffffff57 !important;
        border-radius: 10px;
    }


    wi-login>div {
        right          : unset;
        width          : 100%;
        top            : 10px;
        padding        : 7px 15px 7px 7px;
        font-family    : Roboto, Arial !important;
        justify-content: space-between;

        >span {
            color: #3e84ff;
        }

        >div span.icon {
            display: none;
        }

        .ngdialog .login {
            font-family: Roboto, Arial !important;
        }
    }



    wi-tree-node-virtual>div {
        padding-left: 10px;
    }

    wi-tree-node-virtual .node-content,
    wi-tree-node-virtual .node-content::after {
        line-height  : unset;
        padding      : 7px 15px 7px 7px;
        margin       : 0 10px;
        background   : #fff0;
        border-bottom: unset;
        transition   : all ease-in 0.1s;
        border-radius: 2px;
        user-select  : none;

    }

    wi-tree-node-virtual .node-content.selected::after {
        background: none;

    }

    wi-tree-node-virtual .node-label {
        font-size: 12px;
        padding  : 0 10px;
        color    : #000;
    }

    wi-tree-node-virtual .node-caret {
        width: 18px;
    }

    wi-tree-node-virtual .node-icon {
        filter: saturate(2)
    }

    wi-tree-node-virtual .node-content:hover {
        background: #fff;
        transition: all ease-in 0.1s;
        box-shadow: inset 0px 0px 0px 1px #0045bd;
    }

    wi-tree-node-virtual .node-content.selected {
        background   : #fff;
        border-radius: 2px;
        transition   : all ease-in 0.1s;
        box-shadow   : inset 0px 0px 0px 1px #0045bd;
    }

    wi-tree-node-virtual .node-content::after {
        content : unset;
        color   : transparent;
        display : block;
        position: absolute;
        top     : 0;
        width   : 4px;
    }

    wi-tree-node-virtual .node-content,
    wi-tree-node-virtual .node-content::after {
        height: auto;
    }

    wi-tree-view-virtual div input {
        max-width    : calc(100% - 30px);
        line-height  : unset;
        padding      : 8px 15px;
        margin       : 0 15px 15px;
        color        : #000;
        border-bottom: none;
        background   : #f4f4f4;
        border-radius: 35px;
    }

    // wi-droppable {
    //     height        : 100%;
    //     height        : 100%;
    //     width         : 100%;
    //     padding-bottom: 43px;
    // }

    wi-tree-view-virtual {
        flex          : 1;
        display       : flex;
        flex-direction: column;

        &>div {
            flex: 1;
        }
    }
    
      

  




    //////////////////////////////////////////////////////////////////////////////////////
}

wi-map-loading .main-spinner {

    position     : absolute;
    height       : 100vh;
    width        : 100vw;
    transform    : scale(0.6);
    // background: #ffffffab;
    z-index      : 9999999 !important;

}

wi-map-loading .spinner {
    display: none;
}
.icon-clicking {
    width: 20px;
    height: 20px;
    background: #3e84ff;
    margin-left: 16px;
    top: 120px;
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: clicking;
    position: fixed;
    left: 250px;
  }

.loading {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    flex           : 1;
    position       : absolute;
    top            : 46px;
    width          : 100%;
}



.loading-bar {
    width     : 100%;
    height    : 2px;
    background: #EBECF0;
    position  : relative;
    overflow  : hidden;
}

.bar-animation {
    width                    : 50%;
    height                   : 3px;
    background               : #2196F3;
    position                 : absolute;
    transition               : 1s all ease-out;
    animation-name           : loading-interminate;
    animation-duration       : 1s;
    animation-iteration-count: infinite;
}

@keyframes loading-interminate {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
.loading-bar-error {
    width     : 100%;
    height    : 2px;
    background: #EBECF0;
    position  : relative;
    overflow  : hidden;
}

.bar-animation-error {
    width                    : 50%;
    height                   : 3px;
    background               : #2196F3;
    position                 : absolute;
    transition               : 1s all ease-out;
    animation-name           : loading-interminate-error;
    animation-iteration-count: infinite;
}

@keyframes loading-interminate-error {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}
.dialog-error {
    z-index: 1;
    position: fixed;
    width: 340px;
    max-height: 300px;
    height: 160px;
    margin: 40px auto auto 420px;
    top: 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 50px -2px rgba(18, 22, 33, 0.19);
    overflow: hidden;
    animation          : showing-dialog-popup 0.5s;
    animation-fill-mode: both;
    .dialog-header {
        padding: 14px 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c4c4c459;
        justify-content: space-between;
        &>div>span {
            font-weight: bold; 
            margin-left: 15px;
        }
    }
    .dialog-main {
        padding: 20px;
    }
}
@keyframes showing-dialog-popup {

    0% {
        transform: translateY(-500px);
    }

    90% {
        transform: translateY(10px);

    }

    100% {
        transform: translateY(0);

    }

}
@keyframes clicking {
    0% {
      opacity: 0;
      transform: scale(3);
    }
    30% {
      opacity: 0.6;
    }
    100% {
      opacity: 0;
      transform: scale(0.5);
    }
  }