<div class="main">
    <div class="main-toolbar">
        <span class="menu-item">
            <span class="fa fa-globe"></span>&nbsp;&nbsp;&nbsp;Base Map
        </span>
        <span class="menu-item" ng-click="self.refesh()">
            <span class="fa fa-refresh"></span>&nbsp;&nbsp;&nbsp;Refesh
        </span>
        <span class="menu-item">
            <span class="fa fa-bandcamp"></span>
            <select class="select-proj4 form-control" style="width: 210px;"
                ng-options="item.Name for item in zoneFieldTable" ng-model="zoneSelected" ng-change="hasChanged()">
            </select>
        </span>
        <wi-login ng-if="self.hasWiLogin" whoami="main-service" app-name="Base Map" login-url="{{self.loginUrl}}" query-string="self.queryString"
            register-url='https://www.i2g.cloud/register-information/'>
        </wi-login>
    </div>
    <div class="main-body">
        <div class="main-body-left">
            <side-bar my-default-width="188" style="border-right: 1px solid #dedede;">
                <div ng-if="self.hasProjectList" class="height-40">
                    <wi-tree-view tree-root="treeConfig" get-label="self.getLabel" get-icon="self.getIcon"
                        get-children="self.getChildren" run-match="self.runMatch" hide-unmatched="true" click-fn='self.clickFunction'>
                        <div class="label-list-view">
                            <span>PROJECT LIST</span>
                        </div>
                    </wi-tree-view>
                </div>
            </side-bar>
            <side-bar my-default-width="286" style="border-right: 1px solid #dedede;">

                <div ng-if="self.hasProjectList" class="height-40">
                    <wi-droppable on-drop="self.dropFn" style="flex: 1; display: flex;"
                        container-style="{flex: 1, margin: 0, border: 'none'}">
                        <wi-tree-view tree-root="wellSelect" get-label="self.getLabel" get-icon="self.getIcon"
                            get-children="self.getChildren" run-match="self.runMatch" hide-unmatched="true"
                            selected-ids="self.selectedIdsHash" click-fn='self.clickWellFunction'>
                            <div class="label-list-view">
                                <span>WELL</span>
                                <!-- <span class="fn-button" 
                                    ng-click="self.showAllPopup()">POPUP ALL</span> -->
                                <span class="fn-button" 
                                    ng-click="self.deleteWell()">DELETE</span>
                                <span class="fn-button" 
                                    ng-click="self.cleanMap()">CLEAR</span>
                                <!-- <span style="color: #ff8a81;" class="label-buttom fa fa-times-circle-o" aria-hidden="true"
                                    ng-click="self.cleanMap()"></span>
                                <span style="color: #ff8a81;" class="label-buttom fa fa-times-circle" aria-hidden="true"
                                    ng-click="self.deleteWell()"></span>
                                <span style="color: #0077be;"class="label-buttom fa fa-eye-slash" aria-hidden="true"
                                ng-click="self.showAllPopup()"></span> -->
                            </div>
                        </wi-tree-view>
                    </wi-droppable>
                </div>

            </side-bar>
        </div>
        <!-- <wi-droppable on-drop="self.dropFn" style="flex: 1; display: flex;" container-style="{flex: 1}"> -->
        <div class="main-body-center">
            <map-view class="mapView"
                mapbox-token='pk.eyJ1IjoiazU0aHVuZ3liIiwiYSI6ImNqdGZtNDE4ODF1OXEzeW85djJ5c29nYnoifQ.-VfHeKXV9avmbia1E7BFcQ'
                wells='wellSelect' zone-map='zoneMap' focus-well='focusWell'>
            </map-view>
        </div>
        <!-- </wi-droppable> -->
    </div>
</div>
