<div ng-class="{'show-dashboard': self.showDashboard}" class="dialog">
  ${require('./dialog-dashboard.html')}
</div>
<div id="main" class="main slim-scroller" ng-class="{'change-height': self.hideMain}">
  <div class="tab">
    <div style="display: flex; align-items: center;">

      <div class="tab-name" ng-class="{'active' : isSet(1)}" ng-click="setTab(1)">
        Projects
      </div>
      <div class="tab-name" ng-class="{'active' : isSet(3)}" ng-click="setTab(3)">
        Wells
        <span ng-if="wellSelect.length" class="tab-badge">{{wellSelect.length?wellSelect.length:''}}</span>
      </div>
      <!--
      <div class="tab-name" ng-class="{'active' : isSet(4)}" ng-click="setTab(4)">
        Curves
        <span ng-if="curveList.length" class="tab-badge">{{curveList.length?curveList.length:''}}</span>
      </div>
      -->
      <div class="tab-name" ng-class="{'active' : isSet(2)}" ng-click="setTab(2)">
        Appearance
      </div>
      <div class="tab-name" ng-class="{'active' : isSet(5)}" ng-click="setTab(5)">
        Configs
      </div>
    </div>
    <div style="display: flex;">

      <div class="tab-name fa fa-user-circle-o" style="color: #4085ff; font-size: 13px; position: relative; z-index: 1;"
        ng-click="self.showUser = !self.showUser">
        <div ng-show="self.showUser" class="user">
          <wi-login ng-if="self.hasWiLogin" whoami="main-service" app-name="Base Map" login-url="{{ self.loginUrl }}"
            query-string="self.queryString" register-url="https://www.i2g.cloud/register-information/">
          </wi-login>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="self.showLoading" class="loading">
    <div class="loading-bar">
      <span class="bar-animation"></span>
    </div>
  </div>
  <div class="tab" style="justify-content: flex-start; padding-left: 5px; border-bottom: none;">
    <div class="tab-fn" ng-class="{'on': self.showDashboard}" ng-show="self.showMap"
      ng-click="self.showDashboard = !self.showDashboard; self.openDashboard()">
      <i class="ti ti-pie-chart"></i>
    </div>
    <div class="tab-fn" ng-click="self.moveWell()" ng-class="{'inactive' : !isSet(1) || !self.selectedNode}">
      <i class="ti ti-arrow-right"></i>
    </div>
    <div class="tab-fn" ng-click="self.deleteWell()" ng-class="{'inactive' : !isSet(3)}">
      <i class="ti ti-trash"></i>
    </div>
    <div class="tab-fn" ng-click="self.cleanMap()" ng-class="{'inactive' : !isSet(3)}">
      <i class="ti ti-paint-roller"></i>
    </div>
    <div class="tab-fn" ng-click="self.refesh()">
      <i class="ti ti-reload"></i>
    </div>
    <div ng-show="!self.hideMain && self.showMap" class="tab-fn" ng-click="self.hideMain = !self.hideMain">
      <i class="ti ti-angle-up"></i>
    </div>
    <div ng-show="self.hideMain && self.showMap" class="tab-fn" ng-click="self.hideMain = !self.hideMain">
      <i class="ti ti-angle-down"></i>
    </div>
    <!-- <div style="display: flex; align-items: center;" ng-show="self.showMap">
      <div ng-show="self.hideMain" class="tab-name ti ti-arrow-circle-down" style="color: #4085ff; font-size: 12px;"
        ng-click="self.hideMain = !self.hideMain"></div>
      <div ng-show="!self.hideMain" class="tab-name ti ti-arrow-circle-up" style="color: #99a3ba; font-size: 12px;"
        ng-click="self.hideMain = !self.hideMain"></div>
    </div> -->

  </div>
  <div ng-show="isSet(1) && !self.hideMain" class="content">
    <div class="content-top">
      <div style="height: 100%; overflow: hidden; display: flex; flex-direction: column; flex: 1;">
        <wi-tree-view-virtual tree-root="treeConfig" get-label="self.getLabel" get-icon="self.getIcon"
          get-children="self.getChildren" run-match="self.runMatch" hide-unmatched="true" click-fn="self.clickFunction"
          no-drag="true">
        </wi-tree-view-virtual>
      </div>
    </div>
    <!-- <div class="content-bottom">
      <wi-droppable on-drop="(self.dropFn)" style=" display: flex; overflow: hidden;position: absolute;"
        container-style="{flex: 1, margin: 0, border: 'none', overflow: 'auto'}">
        <div class="no-wells">
          <div>
            <div class="ti ti-import" style="font-size: 40px;
                        margin-bottom: 20px;
                        color: #5592ff;"></div>
            <div>Drop wells here</div>
          </div>
        </div>
      </wi-droppable>
      <div class="tab-function">

        <div class="tab-fn-name ti ti-close" ng-click="self.deleteWell()"></div>
        <div class="tab-fn-name ti-paint-roller" ng-click="self.cleanMap()"></div>
      </div>
    </div> -->


  </div>
  <div ng-show="isSet(3) && !self.hideMain" class="content">

    <wi-tree-view-virtual tree-root="wellSelect" get-label="self.getLabel" get-icon="self.getIcon"
      get-children="self.getChildren" run-match="self.runMatchWell" hide-unmatched="true"
      selected-ids="self.selectedIdsHash" click-fn="self.clickWellFunction" no-drag="true">
    </wi-tree-view-virtual>
  </div>
  <!--
  <div ng-show="isSet(4) && !self.hideMain" class="content">
    <wi-tree-view-virtual tree-root="curveList" get-label="self.getLabel" get-icon="self.getIcon"
      get-children="self.getChildren" run-match="self.runMatchCurve" hide-unmatched="true" no-drag="true">
    </wi-tree-view-virtual>
  </div>
  -->
  <div ng-show="isSet(5) && !self.hideMain" class="content">
    <div style="flex: 1; margin: 15px; user-select: none; overflow: hidden ;display: flex; flex-direction: column;"
      onmouseover=this.style.overflow='overlay' onmouseout=this.style.overflow='hidden'>

      <div class="setting">
        <div class="setting-title" style="margin-bottom: 10px;">Zonesets & Markersets</div>
        <div class="complex-setting" style="margin-bottom: 10px">
          <div class="setting-content">
            <span
              class="setting-sub-title">{{self.showZonesets?"Select a zonation to display":"Display well positions a zonal depth"}}</span>
            <label class="switch">
              <input type="checkbox" ng-checked="self.showZonesets" ng-click="self.toggleZonesets()" />
              <span class="slider round"></span>
            </label>
          </div>
          <div ng-if="self.showZonesets" class="setting-content"
            style="margin-top:12px; flex-direction: column; align-items: unset;">
            <div style="flex-basis: 1.5em; display: flex; justify-content: space-around;">
              <label ng-repeat="_zoneDepthSpec in zoneDepthSpecs">
                <input type="radio" ng-model="self.zoneDepthSpec" value="{{_zoneDepthSpec.value}}">
                {{_zoneDepthSpec.label}}
              </label>
            </div>
            <wi-tree-view-virtual tree-root="zoneList" get-label="self.getLabel" get-icon="self.getIcon"
              click-fn="self.clickZoneFunction" get-children="self.getChildren" run-match="self.runMatchZonesets"
              hide-unmatched="true" no-drag="true">
            </wi-tree-view-virtual>
          </div>
        </div>
        <div class="complex-setting">
          <div class="setting-content">
            <span
              class="setting-sub-title">{{self.showMarkersets?"Select a marker to display":"Display well positions a marker depth"}}</span>
            <label class="switch">
              <input type="checkbox" ng-checked="self.showMarkersets" ng-click="self.toggleMarkersets()" />
              <span class="slider round"></span>
            </label>
          </div>
          <div ng-if="self.showMarkersets" class="setting-content" style="margin-top:12px;">
            <wi-tree-view-virtual tree-root="markerList" get-label="self.getLabel" get-icon="self.getIcon"
              click-fn="self.clickMarkerFunction" get-children="self.getChildren" run-match="self.runMatchMarkersets"
              hide-unmatched="true" no-drag="true">
            </wi-tree-view-virtual>
          </div>
        </div>
      </div>
      <div class="setting">
        <div class="setting-title" style="margin-bottom: 10px;">Show Contour</div>
        <div class="complex-setting">
          <div class="setting-content">
            <span
              class="setting-sub-title">{{self.showContour?"Pick a curve for contour rendering":"Displays contour layer"}}</span>
            <label class="switch">
              <input type="checkbox" ng-checked="self.showContour" ng-click="self.toggleContour()" />
              <span class="slider round"></span>
            </label>
          </div>
          <div ng-if="self.showContour" class="setting-content" style="margin-top: 12px;">
            <wi-tree-view-virtual tree-root="curveList" get-label="self.getLabel" get-icon="self.getIcon"
              click-fn="self.clickCurveFunction" get-children="self.getChildren" run-match="self.runMatchCurve"
              hide-unmatched="true" no-drag="true">
            </wi-tree-view-virtual>
          </div>
        </div>
      </div>
      <div class="upload">
        <div class="upload-header">
          <div>
            <div style="font-weight: bold;">Upload boundary file </div>
            <span>File type ESRI shape file (zip), geojson. </span>
          </div>
          <div class="btn-add" id="map-upfile-1-btn">
            <span class="ti ti-plus"></span>
          </div>
        </div>
        <div class="upload-content">
          <p>
            <input type="file" id="map-upfile-1" class="file-upload" accept=".geojson,application/zip"
              placeholder="choose a file" onblur="angular.element(this).scope().clearSelectedFile()"
              onchange="angular.element(this).scope().onFileChange(), angular.element(this).scope().GetFileSizeNameAndType()" />
          </p>
          <div id="fp" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 15px;">
          </div>
        </div>
      </div>
      <!-- <div class="upload">
        <div class="upload-header">
          <div>
            <div style="font-weight: bold;">Import your config</div>
            <span>Upload a zip file.</span>
          </div>
          <div class="btn-add" id="map-upfile-2-btn">
            <span class="ti ti-plus"></span>
          </div>
        </div>
        <div class="upload-content">
          <p>
            <input type="file" id="map-upfile-2" class="file-upload" accept=".zip" placeholder="choose a file .zip"
              onblur="angular.element(this).scope().clearSelectedContourFile()"
              onchange="angular.element(this).scope().onZipFileChange(), angular.element(this).scope().GetFileSizeNameAndType2()" />
          </p>
          <div id="fp2" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 15px;">
          </div>
        </div>
      </div> -->
      
    </div>
  </div>
  <div ng-show="isSet(2) && !self.hideMain" class="content">
    <div style="flex: 1; margin: 15px; user-select: none; overflow: hidden ;display: flex; flex-direction: column;"
      onmouseover=this.style.overflow='overlay' onmouseout=this.style.overflow='hidden'>
      <div class="setting" ng-class="{'disable': !self.showMap}">
        <div class="setting-title">Themes</div>
        <div class="setting-content">
          <span>Theme actived: {{ self.activeTheme }} </span>
        </div>
        <div style="display: flex; margin-top: 10px;justify-content: space-between;">
          <div ng-class="{'active fa fa-check': self.activeTheme === 'Dark'}"
            ng-click="self.changeStyleMap(1); self.activeTheme = 'Dark'" class="theme" style="background: #353535">
          </div>
          <div ng-class="{'active fa fa-check': self.activeTheme === 'Standard'}"
            ng-click="self.changeStyleMap(2); self.activeTheme = 'Standard'" class="theme" style="background: #4CAF50">
          </div>
          <div ng-class="{'active fa fa-check': self.activeTheme === 'Retro'}"
            ng-click="self.changeStyleMap(3); self.activeTheme = 'Retro'" class="theme" style="background:  #e0d5b3">
          </div>
          <div ng-class="{'active fa fa-check': self.activeTheme === 'Night'}"
            ng-click="self.changeStyleMap(4); self.activeTheme = 'Night'" class="theme" style="background: #12448c">
          </div>
          <div ng-class="{'active fa fa-check': self.activeTheme === 'Aubergine'}"
            ng-click="self.changeStyleMap(5); self.activeTheme = 'Aubergine'" class="theme" style="background: #1ea2d8">
          </div>
          <div ng-class="{'active fa fa-check': self.activeTheme === 'Silver'}"
            ng-click="self.changeStyleMap(6); self.activeTheme = 'Silver'" class="theme"
            style="background: #cccccc;margin-right: 0;"></div>
        </div>
      </div>
      <div class="setting" ng-class="{'disable': !self.showMap}">
        <div class="setting-title">Control panel</div>
        <div class="setting-content">
          <span>Show or hide map control button </span>
          <label class="switch">
            <input type="checkbox" ng-checked="self.controlPanel" ng-click="self.controlPanel = !self.controlPanel" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="setting" ng-class="{'disable': !self.showMap}">
        <div class="setting-title">Popup</div>
        <div class="setting-content">
          <span>Display all names well on the popup</span>
          <label class="switch">
            <input type="checkbox" ng-checked="allPopup" ng-click="self.allPopup()" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="setting" ng-class="{'disable': !self.showMap}">
        <div class="setting-title">Point location</div>
        <div class="setting-content">
          <span>Displays coordinates information location of point mouse</span>
          <label class="switch">
            <input type="checkbox" ng-checked="self.point" ng-click="self.point = !self.point" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="setting">
        <div class="setting-title">Show only dashboard</div>
        <div class="setting-content">
          <span>Hide map to increase performance</span>
          <label class="switch">
            <input type="checkbox" 
              ng-click="self.showMap = !self.showMap; self.changeLayout();" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="setting">
        <div class="setting-title">Dark mode</div>
        <div class="setting-content">
          <span>Dark mode for menu window, dashboard </span>
          <label class="switch">
            <input type="checkbox" ng-click="self.changeTheme(); " />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="upload" >
        <div class="upload-header">
          <div>
            <div style="font-weight: bold;">Import your config</div>
            <span>Upload a zip file.</span>
          </div>
          <div class="btn-add" id="map-upfile-2-btn">
            <span class="ti ti-plus"></span>
          </div>
        </div>
        <div class="upload-content">
          <p>
            <input type="file" id="map-upfile-2" class="file-upload" accept=".zip" placeholder="choose a file .zip"
              onblur="angular.element(this).scope().clearSelectedContourFile()"
              onchange="angular.element(this).scope().onZipFileChange(), angular.element(this).scope().GetFileSizeNameAndType2()" />
          </p>
          <div id="fp2" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-top: 15px;">
          </div>
        </div>
      </div>
      <div class="setting">
        <!-- <div>
          <div class="setting-title">Zone</div>
          <div class="setting-content" style="align-items: flex-start;">
            <span>{{ zoneMap }}</span>
          </div>
        </div> -->
        <!-- <span class="zone-btn" ng-click="self.showDialog = !self.showDialog">49N</span> -->
        <!-- <div class="filter-zone">
          <div class="filter">
            <div style="margin-left: 0" class="ti ti-search"></div>
          </div>
          <input class="searchInput" type="text" placeholder="Search zone" ng-model="searchProject" />
          <div class="filter">
            <div ng-click="self.showDetailZone = !self.showDetailZone"
              ng-class="{'show-detail-zone': !self.showDetailZone}" class="ti ti-comment" style="padding: 10px;"></div>
          </div>
        </div>
        <div class="list-zone">
          <div class="zone" ng-repeat="item in zoneFieldTable | filter:searchProject track by $index">
            <div class="zone-title">
              <div ng-class="{'selected-zone': zoneMap == item.output}" style="display: flex;">
                <div ng-click="hasChanged(item)" class="icon apply-16x16"></div>
                <span ng-click="hasChanged(item)" ng-bind="item.Name"></span>
              </div>
            </div>
            <span ng-show="!self.showDetailZone" class="zone-name" ng-bind="item.output"></span>
          </div>
        </div> -->

      </div>
      <div class="export" ng-click="self.downloadZipFile()">
        Save Configuration
      </div>
    </div>
  </div>
</div>

<!-- <map-view 
  ng-show="self.showMap"
  class="mapView"
  mapbox-token="pk.eyJ1IjoicmV2b3RlY2giLCJhIjoiY2swZGJobWg3MDY2NzNtbnVwaDEyYmttMCJ9.39KL2GsNCiew9XmiLVsTDQ"
  wells="wellSelect" zone-map="zoneMap" focus-well='focusWell' all-popup="allPopup" theme="themeMap"
  focus-curve="focusCurve" geo-json="self.geoJson"
  focus-marker-or-zone="focusMZ" zone-depth-spec="self.zoneDepthSpec"
  get-curve-info-fn="self.getCurveInfoFn" get-curve-raw-data-fn="self.getCurveRawDataFn"
  show-contour="self.showContour" control-panel="self.controlPanel" deep-ocean="self.deepOcean" point="self.point">
</map-view>
-->
<google-map-view 
theme="themeMap"
ng-if="checkGoogleApi()" 
ng-show="self.showMap" 
all-popup="allPopup"
class="mapView" 
wells="wellSelect"
geo-json="self.geoJson" 
control-panel="self.controlPanel" 
point="self.point" 
focus-well='focusWell'
focus-curve="focusCurve"
show-contour="self.showContour" 
focus-marker-or-zone="focusMZ" 
zone-depth-spec="self.zoneDepthSpec"
get-curve-info-fn="self.getCurveInfoFn" 
get-curve-raw-data-fn="self.getCurveRawDataFn" 
zone-map="zoneMap">
</google-map-view>